* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #F2E9E4;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 100px;
    height: 70px;
    border: 2px solid whitesmoke ;
    border-radius: 20px;
}

nav {
    height: 30px;
    background-color: #000080;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    width: 100px;
    display: inline-block;
    border: solid 4px #0000cd ;
    border-radius: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color:white;
}
main {
    background-color: #8DAA91;
}

section {
    background-color: #F2E9E4;
}

footer {
    height: 100px;
    background-color: #2C3E50;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items:first flex-end;
}

footer img {
    width: 30px;
    height: 30px;
}